
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf</title>
</head>
<body>
<h2>用户列表</h2>
<div>
        <ul>
            <li th:each="user:${userList}">
            <span th:text="${user.id}"></span>-
            <span th:text="${user.name}"></span>-
            <span th:text="${user.classname}"></span>-
            <span th:text="${user.school}"></span>-
            <span th:text="${user.interesting}"></span>-
            <span th:text="${user.sex}"></span>
            </li>
        </ul>
</div>
</body>
