<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>建站宝-登陆</title>
	<!--css-->
  <link rel="Shortcut Icon" type="images/x-icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/pubile.css" />
	<link rel="stylesheet" type="text/css" href="js/layui/css/layui.css" />
  <link rel="stylesheet" type="text/css" href="js/layui/css/modules/layer/default/layer.css" />
</head>
<style type="text/css">
  .body_deal{
    background-color: #dbeeff;
    position: relative;
    padding-bottom: 2%;
  }

  .deal_bj_div{
    width: 780px;
    margin: 0 auto 4%;
    background-color: #fff;
    padding:30px;
    line-height: 24px;
  }

  .deal_bj{
    width: 100%;
    height: auto;
  }

  .footer{
    width: 100%;
    text-align: center;
    color: #121212;
  }

  .only_bj{
    background:url("images/deal_bg.png") no-repeat top center;
    padding-top:6%;
  }

    .body_deal h3{
      border-bottom: 1px solid #ececec;
      padding: 1%;
      margin:2% 0;
      font-weight: 700;
      font-size: 20px;
    }

    .body_deal h3 .blue{
      padding-right: 10px;
      font-size: 30px;
    }

    .imgtop{
      margin-bottom: 6%;
    }

    h2{
      font-weight: 700;
      text-align: center;
      font-size: 28px;
    }

    .mulu a.blue{
      display: block;
    }

    .mulu {
      padding: 10px;
      border:1px solid #ececec;
      margin:20px 0;
    }
</style>
<body class="body_deal">
  <div class="only_bj">
  <div class="deal_bj_div">
    <img src="images/logo.png" alt="" class="imgtop" />
    <h2>建站宝服务协议</h2>
    <h3><span class="blue">●</span>总则</h3>
    1. 为使用建站宝服务（下简称“本服务”），您应当阅读并遵守《建站宝服务协议》（以下简称“本协议”），以及《睿道服务协议》、《睿道隐私使用说明》等内容。<br/><br/>
    2. 本协议系您与北京睿道网络科技有限公司（以下简称“公司”）之间就建站宝注册、登录及使用等事宜所订立的权利义务规范。<br/>
    3. 请您仔细阅读以下全部内容，您点选“同意”键并完成注册、登录，即视为已完全同意并接受本协议，并愿受其约束；若不同意本协议的任何条款，请不要点选“同意”，也不要使用建站宝的任何服务。<br/><br/>
    4. 当您代表法人或其他组织使用建站宝提供的服务时，您须特别承诺您已获得相应授权。您对本协议的接受将被自动视为您所代表的法人或其他组织对本协议的接受。当您使用建站宝的账号登录并签署本协议，即视同您所代表的法人或其他组织与睿道公司签署本协议。本条款构成您代表法人或其他组织使用建站宝所提供服务的先决条件。<br/><br/>
    5. 本协议是《睿道服务协议》以及睿道公司可能不断发布的与本服务相关的协议、声明、业务规则及公告指引内容之不可分割的组成部分，与其构成统一整体。您任何使用本服务的行为，即视为您已经阅读并同意本协议及相应更新。如果您不接受修改后的协议，应当停止使用本服务。\
    <div class="mulu">
      目录<br/><br/>
      <a href="#a1" class="blue">定义</a>
      <a href="#a2" class="blue">账户注册和核准</a>
      <a href="#a3" class="blue">您的权利和义务</a>
      <a href="#a4" class="blue">睿道公司的权利和义务</a>
      <a href="#a5" class="blue">隐私政策</a>
      <a href="#a6" class="blue">知识产权</a>
      <a href="#a7" class="blue">法律责任</a>
      <a href="#a8" class="blue">其他</a>
    </div>
      <h3 id="a1"><span class="blue">●</span>定义</h3>
      1. 您：提交有效申请并经睿道公司审核同意，利用建站宝建立网站的自然人、法人或其他组织。<br/><br/>
      2. 用户：所有直接或间接使用建站宝的终端用户。<br/><br/>
      3. 建站宝：睿道公司运营的自助移动建站云端工具。<br/><br/>
      4. 建站宝服务：睿道公司或建站宝服务商提供的、免费或付费的整体站点建设或技术运营维护服务，包括自助建站、定制化建站、个性化开发、站点维护、营销策划等。<br/><br/>
      5. 站点：您使用建站宝生成的网站。<br/><br/>
      6. 独立域名：在域名注册商处注册的、您可以变更其域名别名且拥有合法权利的域名。<br/><br/>
      7. 建站宝服务商：经由睿道公司官方授权，为您提供一站式建站服务及站点技术运营维护服务的自然人、法人或其他组织。<br/><br/>
      8. 关联公司：被一方控制、或控制该方、或与该方共同控制同一家公司、或与该方受共同控制的公司。“公司”指任何公司、企业或其他法律实体；“控制”是指直接或间接地拥有影响所提及公司管理的能力，无论是通过所有权、有投票权的股份、合同或其他方式。
       <h3 id="a2"><span class="blue">●</span>账户注册和核准</h3>
      1. 在使用本服务前，您需要以真实身份信息注册建站宝账号，并及时更新您的注册资料。<br/><br/>
      2. 除自行注册建站宝外，您也可通过授权使用您合法拥有的包括但不限于睿道公司和/或其关联公司其他软件的用户账号，以及实名注册的第三方软件或平台用户账号注册并登陆使用建站宝，但第三方软件或平台对此有限制或禁止的除外。当您以前述已有账号登录使用时，应保证相应账号已进行实名注册登记，并同意适用本协议的相关规定。<br/><br/>
      3. 睿道公司核准您的注册申请后，您可以依据睿道公司核准的账号及密码登录并使用建站宝。平台账号归睿道公司所有，您获得该账号的使用权，使用权仅属于初始申请对象，禁止赠与、借用、租用、转让或售卖。<br/><br/>
      4. 睿道公司仅对您提交的信息和资料进行审核，并不对您账号内发生的行为承担任何责任或提供任何担保。<br/><br/>
      5. 如您违反相关法律法规、本协议及睿道公司发布的其他建站宝的规定，睿道公司有权进行独立判断并随时限制、冻结或终止您对建站宝账号的使用，且根据实际情况决定是否恢复使用。由此给您带来的损失（包括但不限于通信中断、用户资料及相关数据清空等），由您自行承担。
       <h3 id="a3"><span class="blue">●</span>您的权利和义务</h3>
      您的权利<br/>
      1. 对于通过建站宝服务建立的网站，您有权对其进行编辑、管理及运营。您理解并同意，站点一经发布，任何第三人均有权访问该站点。<br/><br/>
      2. 您可以委托睿道公司就您使用建站宝建立的站点与您拥有合法权利的独立域名进行绑定。您理解并同意，一经绑定，第三方访问上述独立域名会自动跳转到您通过建站宝建立的站点，但显示仍为您的独立域名之地址。<br/><br/>
      3. 您有权登录开放平台，通过认证成为开发者，将您开发、创作或获得合法授权的插件通过建站宝为其他用户提供免费或付费服务。<br/><br/>
      您的义务<br/>
      1. 您保证提供给睿道公司的注册信息和材料真实、完整、合法、有效，并对所有提供的信息和材料承担全部法律责任。<br/><br/>
      2. 您应按照建站宝公布和提示的规则、流程进行注册操作。注册完成后，应妥善保管、正确和安全的使用账号和密码，您同意在任何情况下不向他人透露账号和密码信息，因您保管不善导致账号密码被盗的，责任由您自行承担。如账号和密码遭到第三方使用或发生其他任何问题，您有义务及时通知睿道公司。<br/><br/>
      3. 您使用建站宝服务时，应保证所提供站点的网站名称及其网站域名的合法性。因站点网站名称或其网站域名引起的任何法律责任，包括但不限于因违法违规引起的处罚、第三方诉讼纠纷等，由您自行承担全部责任。在此情形下，睿道公司有权随时终止本协议。<br/><br/>
      4. 您理解并同意，您购买建站宝有偿服务，需向睿道公司或建站宝服务商提供必要的图片、文章和链接。且您的建站服务申请一经提交，不得随意更改服务需求，否则您应就修改后的服务需求另行付费。<br/><br/>
      5. 您保证对您提供的或您站点内的图片、文章、音视频及链接等享有合法权益，睿道公司有权要求您提供相应的权属证明。您需同时保证该等图片、文章、音视频及链接等所导向的第三方网站的所有内容符合法律法规及国家政策，不侵犯任何第三方合法权益。否则，睿道公司有权终止本协议并下线该站点，由此遭受的损失由您全部承担。<br/><br/>
      6. 您理解并同意，对于您提交的付费建站服务或其他付费建站宝服务申请，睿道公司有权将其分派给建站宝服务商，由建站宝服务商代为建站或提供相关服务。建站宝将通过邮件、电话等方式向您告知付费服务完成进度。您应于付费服务完成后三个工作日内进行验收。若您在三个工作日内未提出异议，即视为付费服务验收合格。您不得以付费服务有瑕疵或付费服务未完成为由拒付服务费用。<br/><br/>
      7. 您理解并同意，对于您通过建站宝向建站宝服务商申请或购买的建站服务，由建站宝服务商对您负责，与睿道公司无关。若您发现建站宝服务商存在欺诈、隐瞒、误导或其他不合理行为，您有权向睿道公司举报。<br/><br/>
      8. 您理解并同意，睿道公司与建站宝服务商系独立主体，建站宝服务商以其自己的名义为您提供相关服务，建站宝服务商与睿道公司之间无任何形式的合资、合伙、代理或委托关系。您认可并确认睿道公司与建站宝服务商的该等关系，并知悉睿道公司不就建站宝服务商任何超出服务范围的行为以及其他无权行为负责，您不得就此向睿道公司主张任何权利。<br/><br/>
      9. 您理解并同意，您需对您的站点负责，无论该站点由您自行运营维护，或您委托睿道公司代为运营维护，或您委托建站宝服务商代为运营维护。<br/><br/>
      10. 您理解并同意，睿道公司不对您在本服务中相关数据的删除或储存失败负责，请您自行备份本服务中的相关数据。如果您停止使用本服务或服务被终止的，睿道公司可以从服务器上永久地删除您的数据。<br/><br/>
      11. 您有权终止本协议，但应提前书面通知睿道公司。您理解并同意，一旦您提前终止本协议，已缴纳的所有费用不予退还。<br/><br/>
      12. 您理解并同意，本协议一经生效，睿道公司即有权永久的、免费的使用您的商业名称、商标、Logo等信息作为建站宝的宣传推广案例。<br/><br/>
      13. 您同意接收来自睿道公司的邮件及信息，包括但不限于商业推广信息等。<br/><br/>
      14. 本协议未授予您使用睿道公司任何商标、服务标记、标识、域名和其他显著品牌特征的权利。<br/><br/>
      15. 非经睿道公司同意，您在本协议项下之权利义务不可转让。
       <h3 id="a4"><span class="blue">●</span>睿道公司的权利和义务</h3>
      1. 睿道公司有权核实您的注册信息和材料，如发现该等信息和材料中存在任何问题，可要求您改正或补充相关材料。如果您拒绝改正或补充相关材料，睿道公司有权做出不予批准注册申请，限制、冻结或终止账号等处理。<br/><br/>
      2. 睿道公司保留随时变更或终止建站宝服务的权利，并无需向您承担任何责任。睿道公司可通过网页公告、电子邮件、电话或信件传送等方式向您发出通知，该等通知在发送时即视为已送达收件人。<br/><br/>
      3. 睿道公司有权在建站宝投放各种商业广告或商业信息。<br/><br/>
      4. 睿道公司可能根据实际需要向您提供需要您支付一定的费用的收费服务。对此，睿道公司将在相应页面进行通知或公告，只有您根据提示确认您愿意支付相关费用，您才能使用该等收费网络服务。如果您拒绝支付相关费用，则睿道公司有权不向您提供该等收费服务。对于前述收费服务，睿道公司有权随时调整服务资费，但该调整不会对您已购买的服务产生影响。<br/><br/>
      5. 关于您站点的所有数据，包括但不限于页面展示数据、访客数据、组件使用数据等，所有权归属睿道公司。睿道公司有权向用户开放前述数据。<br/><br/>
      6. 睿道公司为建站宝的开发、运营提供技术支持。
      <h3 id="a5"><span class="blue">●</span>隐私政策</h3>
     1. 保护个人隐私是睿道公司的一项基本政策，睿道公司将会采取合理的措施保护您的个人信息。未经您许可，睿道公司不会向第三方公开、透露您的个人信息，但以下情形除外： 遵守适用的法律法规； 遵守法院命令或其他法律程序的规定； 遵守相关政府机关的要求； 为遵守适用的法律法规、维护社会公共利益、或保护睿道公司、睿道公司的客户、睿道公司其他用户或雇员的人身和财产安全或合法权益所合理必需的用途；
      <h3 id="a6"><span class="blue">●</span>知识产权</h3>
    1. 睿道公司在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归睿道公司所有，睿道公司提供本服务时所依托软件的著作权、专利权及其他知识产权均归睿道公司所有，睿道公司在本服务中所使用的“睿道”等商业标识的著作权或商标权归睿道公司所有。<br/><br/>
    2. 您通过建站宝上传、发布的任何内容的知识产权仍然属于您或原始版权人所有。<br/><br/>
    3. 上述及其他任何本服务包含的内容的知识产权均受到法律保护，其他未经睿道公司、您或相关权利人许可的第三人，不得以任何形式进行使用或创造相关衍生作品。
     <h3 id="a7"><span class="blue">●</span>法律责任</h3>
    1. 您理解并同意，您需要对您账号下发生的一切活动承担全部法律责任，包括但不限于注册登录、申请审核、账号运营、内容发布以及其他任何使用建站宝账号所进行的行为。您对建站宝平台中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容真实性、合法性、准确性、有效性的依赖而产生的风险。睿道公司无法且不会对因您的行为而导致的损失或损害承担责任。<br/><br/>
    2. 睿道公司对您的数据及行为无监督义务。但您的数据或行为违反法律法规、政策规定及本协议约定的，睿道公司有权根据自己的判断单方面中止或终止本协议，并就您的站点做下线处理，您已支付的费用不予退还。对因您的行为给睿道公司造成的一切损失，睿道公司有权向您追偿。<br/><br/>
    3. 若您在建站宝账号下的任何行为侵害了第三方的合法权益或遭受行政、司法处置，由您独立承担全部责任。若因此给睿道公司或其他第三方造成任何损失，您应负责赔偿，并使之免受损害，损失包括但不限于诉讼费用、律师费用、和解费用、罚款或生效法律文书中规定的损害赔偿金额及其他直接或间接支出费用。
     <h3 id="a8"><span class="blue">●</span>其他</h3>
    1. 您和睿道公司均是独立的主体，在任何情况下本协议不构成双方之间的代理、合伙、合营或雇佣关系。<br/><br/>
    2. 睿道公司有权在必要时修改本协议条款，您可以在相关服务页面查阅最新版本的协议条款。如您继续使用建站宝，即意味着同意并自愿遵守修改后的协议。<br/><br/>
    3. 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。<br/><br/>
    4.如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决。协商不成时，任何一方均可向北京市海淀区人民法院提起诉讼。本协议的成立、生效、履行、解释及纠纷解决，
    均适用于中华人民共和国法律。
  </div>
  <p class="footer">版权所有 北京睿道网络科技有限公司 京ICP备15022017号-1</p>
</div>
</body>
<!--js-->
  <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/layui/layui.js"></script>
  <script type="text/javascript" src="js/layui/lay/modules/layer.js"></script>
  <script type="text/javascript" src="js/yzm.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
</html>

